<div class = "side-bar_header">
  <div class = "user_name">
  <a href="#">Tom</a>
  </div>
  <div class = "chat_creation">
  <a href="#">チャットを作成する</a>
  </div>
</div>



<div class="side-bar_contents">
  <div class="room">
    <div class="room-name">
    <a href="#">techroom1</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
    <a href="#">techroom2</a>
    </div>
  </div>
</div>
